// temporty logo
.logo {
  height: 32px;
  margin: 16px;
  background: rgba($color: #ffffff, $alpha: 0.2);
}
//end

.min_height_100 {
  min-height: 100vh;
}

.header_menu_flex_end {
  justify-content: end;
}